.footer-container {
    display: flex;
    justify-content: flex-start;
    gap: 250px;
    margin-top: 50px;
    padding-left: 20px;
    background-color:#F2F2F2 ;
}

.footer-colonne {
    width: 25%;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .footer-container{
        flex-direction: row;
        justify-content: space-between;
        gap: 0px;
    }
}
